* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: grey;
    height: 70px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
}

.menu {
    border: 1px solid black;
}

header nav .menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}